html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* --- —“–” “”–¿ Õ¿ SIDEBAR --- */
body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #212529;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 1.5rem 1.25rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
        border-bottom: 1px solid #495057;
    }

    #sidebar-wrapper .list-group-item {
        background-color: transparent;
        color: #cfd2d6;
        border: none;
        padding: 1rem 1.25rem;
    }

        #sidebar-wrapper .list-group-item:hover {
            background-color: #343a40;
            color: #fff;
            padding-left: 1.5rem;
            transition: all 0.2s;
        }

        #sidebar-wrapper .list-group-item.active {
            background-color: #0d6efd;
            color: #fff;
            font-weight: bold;
        }

#page-content-wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    width: 100%;
}
.content-grow {
    flex: 1 0 auto;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}


@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}